* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */
}

/* 
body {
    scroll-behavior: smooth;
    overflow: hidden;
} */

header {

    width: 100%;
    height: 105vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./images/Images1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#camera {
    font-size: 40px;
    margin-bottom: 10px;
}

.text-box {
    width: 90%;
    /* height: 100vh; */
    color: rgb(255, 254, 254);
    position: absolute;
    top: 40%;
    left: 5%;
    transform: translate(-50%-50%);
    text-align: center;
}

.text-box h1 {
    /* font-family: sans-serif; */
    font-size: 3em;
    line-height: 1.5em;
}

.text-box p {
    margin: 10px 0px 40px;
    font-size: 20px;
    color: white;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

.heading {
    text-align: center;
    /* font-style: oblique; */
    font-weight: bolder;
    font-family: sans-serif;
    /* text-decoration: overline; */
    /* text-decoration: underline; */
    margin-top: 1em;
}

.heading h1 {
    font-size: 30px;
    color: #0D6EFD;
}

/* 
.heading h1 {
    color: #0D6EFD;
} */

/* .img1 {
    width: 1350px;
    height: 500px;
    margin-top: 15px;
} */

.img2 {
    width: 1350px;
    height: 500px;
    margin-top: 15px;
}
   

.video1 {
    width: 1350px;
    height: 500px;
}


.img3 {
    width: 1350px;
    height: 500px;
}


.video2 {
    width: 1350px;
    height: 500px;
}

/* 
.img4 {
    width: 1350px;
    height: 500px;
} */


.img5 {
    width: 1350px;
    height: 500px;
}


.img6 {
    width: 1350px;
    height: 500px;
}



.img7 {
    width: 150px;
    height: 150px;
}

.img8 {
    width: 96px;
}


.img9 {
    width: 100px;
}


.img10 {
    width: 100px;
}



.member {
    width: 100%;
    padding: 20px 100px;
    font-family: sans-serif;
}

.member-info {
    text-align: center;
}

.member-info h1 {
    font-size: 2.5em;
}

.member-info h1 span {
    color: #e74c3c;
}

.member-card {
    text-align: center;
    padding-top: 50px;
    width: 50%;
    margin: auto;
}

.member-card p {
    margin: 20px 0px;
    line-height: 2em;
    font-weight: bold;
}

.member-card h2 {
    font-size: 36px;
    font-family: sans-serif;
}


/* Media Query */

/* @